name: Upload Docker images to ghcr.io
on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      ref:
        description: 'Git tag to push the image'
        required: true
        type: string
jobs:
  docker:
    name: Build image
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          context: ${{ inputs.ref && 'git' || 'workflow' }}
          images: ghcr.io/${{ github.repository }}
          # create latest tag for branch events
          flavor: |
            latest=auto
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}.{{minor}}.{{patch}}
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          # push for non-pr events
          push: ${{ github.event_name != 'pull_request' }}
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
